VITE_FIREBASE_API_KEY=AIzaSyB0z_qMeRLorykd3T4AwTXkgMD8HKpl1Pw
VITE_FIREBASE_AUTH_DOMAIN=task-manager-webs.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=task-manager-webs
VITE_FIREBASE_STORAGE_BUCKET=task-manager-webs.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=969608861869
VITE_FIREBASE_APP_ID=1:969608861869:web:ad774db3d20b737d15ce24
VITE_FIREBASE_MEASUREMENT_ID=G-3P3ERP7620
